@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
.section {
  max-width: 1440px;
  margin: 0 auto;
}

.section2 {
  max-width: 1200px;
  margin: 0 auto;
}

.red-hat-display-600 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.red-hat-display-200 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
  transition: 0.5s;
}
.change .bar2 {
  transition: 0.5s;
  transform: scaleX(0);
}

.change .bar3 {
  transform: translate(1px, -10px) rotate(45deg);
  transition: 0.5s;
}

button,
input,
textarea,
select {
  outline: none;
}

.flow {
  transform: translateY(-150%);
  transition: 0.5s;
}

.nova-square-regular {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.colS {
  column-span: 2;
}

.inpStyle {
  color: #fff;
  background: #3a3a3a;
  width: 100%;
  border-radius: 5px;
  display: block;
  padding: 10px 20px;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.textS {
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  align-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.btn {
  width: 100%;
  border: 1px solid #716d6d;
  background: transparent;
  padding: 5px 12px;
}
